---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { HOME } from "@consts";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">Nipun Haldar</h1>
      <div class="space-y-16">
        <section id="about">
          <article class="space-y-4">
            <span>
              <p>
                I'm a Cloud Architect and Python Developer based in New Delhi,
                India, with over four years of hands-on experience in designing
                and implementing robust cloud solutions.
              </p>
            </span>
            <span class="animate">
              <p>
                My role involves architecting scalable and reliable cloud
                infrastructures tailored to meet the specific needs and goals of
                my clients. Additionally, I develop custom solutions and
                automation scripts using Python to streamline processes, enhance
                efficiency, and drive innovation. From building web applications
                to creating data processing pipelines, I harness the power of
                Python to solve complex problems and deliver impactful
                solutions. My versatile skill set allows me to bridge the gap
                between cloud architecture and application development, enabling
                seamless integration across the entire technology stack.
              </p>
            </span>
          </article>
        </section>

        <section id="skills" class="animate space-y-4">
          <h1 class="font-semibold text-black dark:text-white">Skills</h1>
          <!-- List -->
          <div class="space-y-3">
            <dl class="flex flex-col gap-1 sm:flex-row">
              <dt class="min-w-40">
                <span class="block text-gray-500 dark:text-neutral-500"
                  >Development:</span
                >
              </dt>
              <dd>
                <ul>
                  <li
                    class="me-1 inline-flex items-center after:content-[','] dark:text-neutral-200"
                  >
                    <ion-icon name="logo-amazon" width="22" height="22"
                    ></ion-icon>
                    AWS
                  </li>
                  <li
                    class="me-1 inline-flex items-center text-gray-800 after:content-[','] dark:text-neutral-200"
                  >
                    <ion-icon name="logo-python" width="22" height="22"
                    ></ion-icon>
                    Python
                  </li>
                  <li
                    class="me-1 inline-flex items-center text-gray-800 after:content-[','] dark:text-neutral-200"
                  >
                    <ion-icon name="logo-tux" width="22" height="22"></ion-icon>
                    Linux
                  </li>
                  <li
                    class="me-1 inline-flex items-center text-gray-800 after:content-[','] dark:text-neutral-200"
                  >
                    <ion-icon name="logo-docker" width="22" height="22"
                    ></ion-icon>
                    Docker
                  </li>
                  <li
                    class="me-1 inline-flex items-center text-gray-800 after:content-[','] dark:text-neutral-200"
                  >
                    <ion-icon name="terminal-outline" width="22" height="22"
                    ></ion-icon>
                    Shell
                  </li>
                  <li
                    class="me-1 inline-flex items-center text-gray-800 after:content-[','] dark:text-neutral-200"
                  >
                    <ion-icon name="logo-javascript" width="22" height="22"
                    ></ion-icon>
                    Javascript
                  </li>
                  <li
                    class="me-1 inline-flex items-center text-gray-800 after:content-[''] dark:text-neutral-200"
                  >
                    <ion-icon name="git-merge-outline" width="22" height="22"
                    ></ion-icon>
                    Git
                  </li>
                </ul>
              </dd>
            </dl>

            <dl class="flex flex-col gap-1 sm:flex-row">
              <dt class="min-w-40">
                <span class="block text-gray-500 dark:text-neutral-500"
                  >Design Tools:</span
                >
              </dt>
              <dd>
                <ul>
                  <li
                    class="me-1 inline-flex items-center text-gray-800 after:content-[''] dark:text-neutral-200"
                  >
                    <ion-icon name="logo-figma" width="22" height="22"
                    ></ion-icon>
                    Figma
                  </li>
                </ul>
              </dd>
            </dl>

            <dl class="flex flex-col gap-1 sm:flex-row">
              <dt class="min-w-40">
                <span class="block text-gray-500 dark:text-neutral-500"
                  >Soft Skills:</span
                >
              </dt>
              <dd>
                <ul>
                  <li class="me-1 inline-flex items-center after:content-[',']">
                    Team player
                  </li>
                  <li class="me-1 inline-flex items-center after:content-[',']">
                    Strong communication
                  </li>
                  <li class="me-1 inline-flex items-center after:content-[',']">
                    Problem-solving
                  </li>
                  <li class="me-1 inline-flex items-center after:content-[',']">
                    Attention to detail
                  </li>
                  <li class="me-1 inline-flex items-center after:content-['']">
                    Time management
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
          <!-- End List -->
        </section>

        <section id="workex" class="animate space-y-4">
          <h1 class="font-semibold text-black dark:text-white">
            Work experience
          </h1>

          <!-- Timeline -->
          <div>
            <!-- Item -->
            <div class="group relative flex gap-x-5">
              <!-- Icon -->
              <div
                class="relative after:absolute after:start-3 after:top-8 after:bottom-2 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 group-last:after:hidden dark:after:bg-neutral-700"
              >
                <div
                  class="relative z-10 flex size-6 items-center justify-center"
                >
                  <svg
                    class="size-6 shrink-0 text-gray-600 dark:text-neutral-400"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <g id="S" transform="translate(0 8)">
                      <rect
                        id="Rectangle"
                        width="32"
                        height="32"
                        rx="8"
                        transform="translate(0 -8)"
                        fill="#5c60f5"
                        opacity="0.88"></rect>
                      <path
                        id="Samarth"
                        d="M13.355-41.52c-.326-1.8-1.783-4.092-5.63-4.092-2.957,0-5.522,2.035-5.522,4.936,0,2.273,1.587,4.005,4.2,4.5l2.109.39c1.022.195,1.652.758,1.652,1.537,0,.953-.826,1.6-2.174,1.6a2.861,2.861,0,0,1-3.2-2.641l-3.152.758c.217,2.165,2.043,4.915,6.3,4.915,3.674,0,5.7-2.447,5.7-4.85,0-2.187-1.522-4.07-4.457-4.612l-2.065-.39c-1.065-.195-1.522-.736-1.522-1.472A1.89,1.89,0,0,1,7.7-42.581a2.331,2.331,0,0,1,2.565,1.927Z"
                        transform="translate(8.362 45.612)"
                        fill="#fff"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <!-- End Icon -->

              <!-- Right Content -->
              <div class="grow pb-8 group-last:pb-0">
                <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
                  Mar 2022 - Present
                </h3>

                <p class="font-semibold">
                  Cloud Lead & Senior Software Engineer
                </p>
                <h3
                  class="text-sm font-medium text-gray-900 dark:text-neutral-200"
                >
                  Samarth eGov, ICT Initiative of Ministry of Education
                </h3>

                <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                  Currently also heading the Cloud infrastructure management and
                  DevOps.
                </p>
                <ul class="ms-6 mt-3 list-disc space-y-1.5">
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Designed a highly efficient seat allocation algorithm in
                    Python for undergraduate and postgraduate programmes across
                    all major universities in India.
                  </li>
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Successfully planned, developed and deployed cloud
                    infrastructure for CUET in AWS, the second largest exam in
                    India.
                  </li>
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Ensuring uptime of more than 500 in-house SaaS applications.
                  </li>
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Built a blockchain application to disburse 1.2 Lakh digital
                    degrees on blockchain for University of Delhi.
                  </li>
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Created a face detection service to minimize unidentifiable
                    faces in candidate application, saving time during
                    verification.
                  </li>
                </ul>
              </div>
              <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="group relative flex gap-x-5">
              <!-- Icon -->
              <div
                class="relative after:absolute after:start-3 after:top-8 after:bottom-2 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 group-last:after:hidden dark:after:bg-neutral-700"
              >
                <div
                  class="relative z-10 flex size-6 items-center justify-center"
                >
                  <svg
                    class="size-6 shrink-0 text-gray-600 dark:text-neutral-400"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <g id="S" transform="translate(0 8)">
                      <rect
                        id="Rectangle"
                        width="32"
                        height="32"
                        rx="8"
                        transform="translate(0 -8)"
                        fill="#5c60f5"
                        opacity="0.88"></rect>
                      <path
                        id="Samarth"
                        d="M13.355-41.52c-.326-1.8-1.783-4.092-5.63-4.092-2.957,0-5.522,2.035-5.522,4.936,0,2.273,1.587,4.005,4.2,4.5l2.109.39c1.022.195,1.652.758,1.652,1.537,0,.953-.826,1.6-2.174,1.6a2.861,2.861,0,0,1-3.2-2.641l-3.152.758c.217,2.165,2.043,4.915,6.3,4.915,3.674,0,5.7-2.447,5.7-4.85,0-2.187-1.522-4.07-4.457-4.612l-2.065-.39c-1.065-.195-1.522-.736-1.522-1.472A1.89,1.89,0,0,1,7.7-42.581a2.331,2.331,0,0,1,2.565,1.927Z"
                        transform="translate(8.362 45.612)"
                        fill="#fff"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <!-- End Icon -->

              <!-- Right Content -->
              <div class="grow pb-8 group-last:pb-0">
                <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
                  Aug 2020 - Feb 2021
                </h3>

                <p class="font-semibold">Software Engineer</p>

                <h3
                  class="text-sm font-medium text-gray-900 dark:text-neutral-200"
                >
                  Samarth eGov, ICT Initiative of Ministry of Education
                </h3>

                <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                  Developed an email service which sends millions of emails per
                  day using AWS Lambda.
                </p>
                <ul class="ms-6 mt-3 list-disc space-y-1.5">
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Developed an application to manage and update more than 100
                    EC2 instances using Ansible.
                  </li>
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Self-hosted GitLab on AWS for our team, making project
                    management more efficient and standardised.
                  </li>
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Developed numerous other services to take the load off of
                    our main application stack and provide better performance.
                  </li>
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Streamlined DevOps processes and developed custom tools to
                    improve internal workflow.
                  </li>
                </ul>
              </div>
              <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="group relative flex gap-x-5">
              <!-- Icon -->
              <div
                class="relative after:absolute after:start-3 after:top-8 after:bottom-2 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 group-last:after:hidden dark:after:bg-neutral-700"
              >
                <div
                  class="relative z-10 flex size-6 items-center justify-center"
                >
                  <img
                    class="rounded-full"
                    width="24"
                    height="24"
                    src="/iic.webp"
                  />
                </div>
              </div>
              <!-- End Icon -->

              <!-- Right Content -->
              <div class="grow pb-8 group-last:pb-0">
                <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
                  Jun 2019 - Jul 2019
                </h3>

                <p class="font-semibold">Software Development Intern</p>
                <h3
                  class="text-sm font-medium text-gray-900 dark:text-neutral-200"
                >
                  Insitute of Informatics and Communication, University of Delhi
                </h3>
                <p class="text-sm text-gray-600 dark:text-neutral-400">
                  Made a chess server with cross-platform user interfaces.
                </p>

                <ul class="ms-6 mt-3 list-disc space-y-1.5">
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Frontend - React.js and React Native
                  </li>
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Backend - Express.js and socket.io
                  </li>
                  <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Databases - Redis and MongoDB
                  </li>
                </ul>
              </div>
              <!-- End Right Content -->
            </div>
            <!-- End Item -->
          </div>
          <!-- End Timeline -->
        </section>

        <section id="education" class="animate space-y-4">
          <h1 class="font-semibold text-black dark:text-white">Education</h1>

          <!-- Grid -->
          <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
            <div
              class="rounded-lg border border-gray-200 p-4 dark:border-neutral-700"
            >
              <img
                class="mb-3 size-10 shrink-0"
                width="400"
                height="400"
                viewBox="0 0 400 400"
                fill="none"
                src="/iiitt.webp"
              />

              <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
                2016-2020
              </h3>

              <p class="text-sm font-bold">
                Bachelor's degree in Electronics and Communication Technology
              </p>

              <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                Indian Institute of Information Technology, Trichy
              </p>
            </div>
          </div>
          <!-- End Grid -->
        </section>
      </div>
    </aside>
  </Container>
</Layout>
