---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { BLOG } from "@consts";

const data = await getCollection("tools");
console.log(data);

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
};
---

<Layout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="space-y-4">
          <section class="animate space-y-4">
            <div class="font-semibold text-black dark:text-white">
              Tools & Utilities
            </div>
            <ul class="not-prose flex flex-col gap-4">
              {
                data.map((tool) => (
                  <li>
                    <ArrowCard entry={tool} />
                  </li>
                ))
              }
            </ul>
          </section>
        </div>
      </div>
    </aside>
  </Container>
</Layout>
