---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tools">
  <div class="container p-5">
    <h1 class="text-center">Useful Tools</h1>
    <ul class="list-group">
      <li>
        <a
          class="text-decoration-none text-light"
          href="/tools/password-generator">Random Password Generator</a
        >
      </li>
    </ul>
  </div>
</Layout>
