---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Nipun Haldar">
	<div class="d-flex flex-column flex-wrap justify-content-center align-items-center h-100">
		<h1 class="text-center">Hi! I'm Nipun.</h1>
		<br />
		<h3 class="text-center text-break">I'm a <span style="color: #80CBC4;">DevOps Engineer</span>, who for the past 2+
			years<br /> has been <span style="color: #80CBC4;">building</span> and
			<span style="color: #80CBC4;">deploying</span> highly scalable services<br />
			using <span style="color: #80CBC4;">AWS</span>, <span style="color: #80CBC4;">Python</span>, <span
				style="color: #80CBC4;">Node.js</span>.
		</h3>
		<br />
	</div>
</Layout>