---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
---

<Layout title="Nipun Haldar">
  <div class="mt-3">
    <img
      src="image.JPG"
      class="rounded-circle mx-auto d-block"
      style="height: 127px;"
    />
  </div>
  <Socials />
  <div class="container px-sm-5">
    <h1 class="fw-bold">
      Cloud Architect, DevOps Engineer, Full Stack Developer.
    </h1>
    <p class="mt-4">
      I am Nipun, who for the past 3+ years has been building and deploying
      highly scalable services using Python, Node.js and PHP on AWS.
    </p>
  </div>
</Layout>
