{{ define "main" }}
  <article class="max-w-full">
    <header>
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
    </header>
    <section class="max-w-full mt-6 prose dark:prose-invert">
      <div class="animate grid grid-cols-1 gap-1 sm:grid-cols-3">
        {{ range site.Data.photos }}
        <img
          class="w-full transition duration-300 ease-in-out sm:h-50 sm:w-full sm:object-cover sm:hover:scale-110"
          src="{{ .urls.regular }}"
          alt="{{ .id }}"
        />
        {{ end }}
      </div>
      <p>See more on <a href="https://unsplash.com/@focusbreathing" target="_blank">Unsplash</a></p>
    </section>
    <footer class="pt-8">
      {{ partial "sharing-links.html" . }}
    </footer>
  </article>
{{ end }}


